.secTres {
    font-family: 'Poppins', sans-serif;
    color: gray;
    margin-top: 50px;
    margin-bottom: 50px;
}

.secTres p {
    padding: 30px 50px;
    text-align: center;
    position: relative;
}

.secTres p::after {
    content: '"';
    font-size: 60px;
    position: absolute;
    left: 30px;
    top: 20px;
}

.secTres p::before {
    content: '"';
    font-size: 60px;
    position: absolute;
    right: 30px;
    top: 20px;
}

@media (min-width: 900px) {
    .secTres p {
        width: 900px;
        margin: 0 auto;
        font-size: 25px;
        margin-bottom: 100px;
    }
}